
# Github action for releasing the binaries
name: release

on:
  push:
    tags:
    - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Build
        run: | 
          npm install
          npm run build
      - name: Upload to S3
        run: |
          aws s3 cp dist/outscale.png s3://rancher-ui-driver-outscale/${GITHUB_REF_NAME}/outscale.png --endpoint https://oos.${AWS_DEFAULT_REGION}.outscale.com --acl public-read
          aws s3 cp dist/component.css s3://rancher-ui-driver-outscale/${GITHUB_REF_NAME}/component.css --endpoint https://oos.${AWS_DEFAULT_REGION}.outscale.com --acl public-read
          aws s3 cp dist/component.js s3://rancher-ui-driver-outscale/${GITHUB_REF_NAME}/component.js --endpoint https://oos.${AWS_DEFAULT_REGION}.outscale.com --acl public-read
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.BUCKET_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.BUCKET_SECRET_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.BUCKET_REGION }}
          AWS_DEFAULT_OUTPUT: json
      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          tag_name: ${{ github.ref }}
          name: ${{ github.ref }}
          draft: true
          prerelease: false
          files: |
            ./dist/component.css
            ./dist/component.js
            ./dist/outscale.png
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
